.form {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    width: auto;
    color: #1A2B44;
    justify-content: center;
    align-items:center;
}

.loginBtn {
    background-color: #1A2B44;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
}
